
/* body */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root{
    --border_raduis--:10px;
}
.container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.navbar-header{
    width: 15%;
    margin-left: 30px;
}
.nav_pages{
   display: flex;
   justify-content: space-between;
   width: 25%;
}

.nav_icons{
    display: flex;
    justify-content: space-evenly;
    width: 20%;
}

.navbar .fa{
    color: black;
}
.navbar .cicle-user{
    background-color: rgb(194, 194, 196);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
















.container-card{
    width: 40%;
    margin: 30px auto;
    background: #ffff;
    border-radius: var(--border_raduis--);
    padding: 20px;
    box-shadow: 1px 2px 8px 2px #aaa;
    box-sizing: border-box;
}
.container-card .card-header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.container-card .add-post{
    width:100%;
    border-radius: 50px;
    padding: 12px 14px;
    box-sizing: border-box;
    background: #f5f4f4;
    font-size: 18px;
    margin-left: 20px;
    cursor: pointer;
}
.container-card .add-post:hover{
    background: #E5E5E5;
}

.container-card .card-body{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 18px;

}
.container-card .card-body .btn{
    display: flex;
    align-items: center;
    background: #f5f4f4;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: var(--border_raduis--);

}
.container-card .card-body .btn span{
    margin-left: 10px;
}


.container-card .card-body .btn:hover{
    background: #E5E5E5;
}


.container-card .card-header .name{
    margin-left: 10px;
}
.card-header-icon .icon{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.card-header-icon .fa-ellipsis-h{
    font-size: 30px;
    margin: 0;
}
.post-body .description{
    margin-bottom: 10px;
}
.image-posted{
    width: 100%;
    box-sizing: border-box;
}

.post-footer{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 8px 2px #aaa;
    padding: 10px 8px ;
}