
/* body */
body{
    
    background: hsl(0, 0%, 87%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --border_raduis--:10px;
}

.navbar{
    position: sticky;
    top: 0;
    z-index: 100002;
    background: white;
}

.container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.navbar-header{
    width: 15%;
    margin-left: 30px;
}
.nav_pages{
   display: flex;
   justify-content: space-between;
   width: 25%;
   margin: 0%;
}
.nav_pages li{
    padding: 20px 40px;
    color: blue;
}
.nav_pages li:hover{
    background: #eee;
    cursor: pointer;
}

.nav_icons{
    display: flex;
    justify-content: space-around;
    width: 15%;
}

.navbar .fa{
    color: black;
    cursor: pointer;
}
.d-flex{
    display: flex;
    align-items: center;
}
.navbar .cicle-user{
    background-color: #E5E5E5;
    width: 45px;
    height: 45px;
    margin: 0 6px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#active{
    border-bottom: 4px solid blue;
    color: blue;
}

/* PARTH OF POST  */

    /* PARTH OF POST  */

.container-card{
    width: 40%;
    margin: 20px auto;
    background: #ffff;
    border-radius: var(--border_raduis--);
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.container-card .card-header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.container-card .add-post{
    width:100%;
    border-radius: 50px;
    padding: 12px 14px;
    box-sizing: border-box;
    background: #f5f4f4;
    font-size: 18px;
    margin-left: 20px;
    cursor: pointer;
}
.container-card .add-post:hover{
    background: #E5E5E5;
}

.container-card .card-body{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 18px;

}
.container-card .card-body .btn{
    display: flex;
    align-items: center;
    background: #f5f4f4;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: var(--border_raduis--);

}
.container-card .card-body .btn span{
    margin-left: 10px;
}


.container-card .card-body .btn:hover{
    background: #E5E5E5;
}

.post-header{
    margin:0;
}
.container-card .card-header .name{
    margin-left: 10px;
    line-height: 5px;
}
.card-header-icon .icon{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.card-header-icon .icon:hover{
    background: #E5E5E5;
}
.card-header-icon .fa-ellipsis-h{
    font-size: 30px;
    margin: 0;
}


.post-body .description{
    margin-bottom: 14px;
}
.image-posted{
    width: 100%;
    box-sizing: border-box;
}

.post-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px ;
    font-size: 18px;
    height: 40px;
}
.post-footer .like #like-post,.post-footer .comment #comment-post{
    cursor: pointer;
}

