@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
  
  background: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  /* overflow: hidden; */
}
*{
  font-family: 'Poppins', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}
:root{
    --border_raduis--:10px;
}

.navbar{
    position: sticky;
    top: 0;
    z-index: 100002;
    background: white;
}

.container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.navbar-header{
    width: 15%;
    margin-left: 30px;
}
.nav_pages{
   display: flex;
   justify-content: space-between;
   width: 25%;
   margin: 0%;
}
.nav_pages li{
    padding: 20px 40px;
    color: blue;
}
.nav_pages li:hover{
    background: #eee;
    cursor: pointer;
}

.nav_icons{
    display: flex;
    justify-content: space-around;
    width: 15%;
}
.nav_icons img{
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
.navbar .fa{
    color: black;
    cursor: pointer;
}
.d-flex{
    display: flex;
    align-items: center;
}
.navbar .cicle-user{
    background-color: #E5E5E5;
    width: 45px;
    height: 45px;
    margin: 0 6px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#active{
    border-bottom: 4px solid blue;
    color: blue;
}

/* PARTH OF POST  */
.container-card{
    width: 40%;
    margin: 20px auto;
    background: #ffff;
    border-radius: var(--border_raduis--);
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;

}
.container-card .card-header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    height: auto;
}
.container-card .card-header .profile{
  width: 30%;
  padding: 10px 0;

}
.container-card .card-header .profile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.container-card .add-post{
    width:100%;
    border-radius: 50px;
    padding: 8px 14px;
    box-sizing: border-box;
    background: #f5f4f4;
    font-size: 18px;
    cursor: pointer;
    box-sizing: border-box;
    height: auto;

}
.container-card .add-post:hover{
    background: #E5E5E5;
}

.container-card .card-body{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 18px;
    box-sizing: border-box;
  }
.container-card .card-body .btn{
    display: flex;
    align-items: center;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: var(--border_raduis--);

}
.container-card .card-body .btn span{
    margin-left: 10px;
}

.container-card .card-body .btn:hover{
  background: #f5f4f4;
}

/* END ADD POST */
.container-card .post-header{
    margin-left: 10px;
    line-height: 5px;
    width: 100%;
    display: flex;
}
.container-card .post-header .post-header-profile{
  width: 100%;
}

.container-card .post-header .post-header-profile .user-profile{
  width: 20%;
}
.container-card .post-header .post-header-profile .user-profile img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.container-card .post-header .post-header-profile .name{
  width: 100%;
}
.card-header-icon{
  width: 5%;
  padding: 10px 0;
}
.card-header-icon .icon{
    cursor: pointer;
    font-size: 20px;
    margin: 0%;
  }

.card-activity{
  position: absolute;
  margin-left: 220px;
  margin-top: 30px;
  width: 20%;
  background: #ffff;
  border-radius: var(--border_raduis--);
  padding: 10px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
}

.card-activity li { 
  cursor: pointer;
  padding: 10px 20px;
  margin: 10px 0 ;
  border-radius: 5px;
  text-decoration: none;
}
.card-activity li a { 
  color: black;
  text-decoration: none;
}
.card-activity li:hover{
  background: #f5f4f4;
}
.post-body .description{
    width: 100%;
    margin-bottom: 14px;
    box-sizing: border-box;
}
.image-posted{
    width: 100%;
    box-sizing: border-box;
}
.post-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px ;
    font-size: 18px;
    height: 40px;
}
.post-footer .like,.post-footer .comment{
    cursor: pointer;
}

 /* FORM ADD POST  */

.container{
  padding: 4rem 0;
  background-color: hsla(0, 0%, 9%, 0.651);
  position: fixed;
  top: 2%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.container .wrapper{
  margin:40px auto;
  width: 40%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 0%;
}
.container .wrapper section{
  border-radius: var(--border_raduis--);
  width: 100%;
  background-color: #fff;
  padding: 0%;
}
.container img{
  cursor: pointer;
}
.create-post-header{
  display: flex;
  line-height: 0;
  justify-content: space-between;

}
.create-post-header h2 { 
  font-size: 20px;
  margin-left: 40%;
}
.cancel-post{
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  float: right;

}
.post form{
  margin: 20px 25px;
}
.post form .content,
.audience .list li .column{
  display: flex;
  align-items: center;
}
.post form .content img{
  cursor: default;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}
.post form .content .details{
  margin: -3px 0 0 12px;
}
form .content .details p{
  font-size: 17px;
  font-weight: 500;
}
.content .details .privacy{
  display: flex;
  height: 25px;
  cursor: pointer;
  padding: 0 10px;
  font-size: 11px;
  margin-top: 3px;
  border-radius: 5px;
  align-items: center;
  max-width: 98px;
  background: #E4E6EB;
  justify-content: space-between;
}
.details .privacy span{
  font-size: 13px;
  font-weight: 500;
}
.details .privacy i:last-child{
  font-size: 13px;
}


/* UPDATE POST */
.update_post{
  margin: 20px 0;
  overflow: auto;
  height: 10rem;
}
.update_post .options{
  margin: 0%;
  padding: 0;
}
.update_post .title {
  font-size: 14px;
  margin: 0%;
}


form :where(textarea, button){
  width: 100%;
  outline: none;
  border: none;
}
form textarea{
  resize: none;
  margin-top: 20px;
  min-height: 60px;
}
form textarea::placeholder{
  color: #858585;
}
form textarea:focus::placeholder{
  color: #b3b3b3;
}
.theme-emoji img:last-child{
  max-width: 24px;
}
form .options{
  height: 50px;
  margin: 0px auto;
  padding: 0 15px;
  border-radius: 7px;
  border: 1px solid #B9B9B9;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  height: auto;
  text-align: center;
  padding:10px;
  margin-bottom: 10px;
}
form .options img {
  border-radius: 5px;
}
form .options:hover{
  background-color: #eeeeee ;
  cursor: pointer;
}
form .options .add-icon{
  width: 20%;
  margin: auto;
  background: #000;
  padding: 10px;

}
form .options .add-icon img{
  width: 50%;
}
form button{
  height: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.3s ease;
  background: #4599FF;
}

